*.o
adbranch
advisor_test
bindc
bindstack
ctyper
datastack
genericuser
multipart_pull
multipart_reader
prandstr
procedure
procuser_dstack
qstringer
specsreader
stacker
Makefile
schema
schema.fcgi
schemaproc
storedproc
vclasses
html/
old_git_dir
