\html, body { margin:0; padding:0; }

h1 { text-align: center; }
h2 { text-align: center; margin:0; }

#SFW_Content
{
    position: static;
}

#SFW_Header, #SFW_Ghost_Header
{
    position: static;
    margin:0;
    padding:0;
    top:0;
    left:0;
    width:100%;
    background-color:#FFFFFF;
}

#SFW_Header { z-index: 99; }



#SFW_Header nav { text-align:center; }
#SFW_Header nav a { padding:.5em; }
#SFW_Header nav a.here { background-color:#999999; }

nav.views { text-align: center; }
nav.views div
{
    display: inline-block;
    font-size:large;
    font-weight: bold;
    padding: .25em 1em;
    margin: .5em;
    border:solid 1px black;
    cursor: pointer;
    background-color:#FFFFFF;
}

nav.views div.selected
{
    cursor: default;
    background-color: #DDDDDD;
    
}

.SFW_Ghost
{
    position:relative;
    top:0;
    left:0;
    margin:0;
    width:100%
}

div.SFW_Host, div.SFW_Subhost
{
    position:relative;
    top : 0px;
    left : 0px;
    width : 100%;
    height:auto;
    background: url(/includes/screen.png) repeat;
}

div.SFW_Host div.closer
{
    position: absolute;
    top : 10px;
    right : 10px;
    height: 1em;
    width : 1em;
    border:solid 1px black;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
}


div.SFW_Host h2 { text-align: center; background-color:#9999FF; margin:0; }

table.Schema { border-collapse:collapse; border-spacing:0; background-color: #FFFFFF;}
table.Schema { margin:0 auto; padding:0; }

table.Schema thead { padding:8px border:solid 4px yellow; }


table.Schema td, table.Schema th
{
    padding:4px;
    /* border:solid 5px green; */
}

table.Schema th.sorted_up { background-color: red; }
table.Schema th.sorted_down { background-color: yellow; }

.floater { visibility : hidden; }

table.Schema thead tr.floater
{
    position:fixed;
    top: 0;
    left: 0;
    background-color:#FFFFFF;
}

table.Schema thead tr.floater th,
table.Schema thead tr.floater td
{
    position:absolute;
}


table.Schema thead th
{
    white-space:nowrap;
    background-color:#DDDDDD;
    border:solid #AAAAAA;
    border-width:0 2px 2px 0;
    cursor:pointer;
}

/* table.Schema thead tr.floater.button_row td { display:block; } */
/* table.Schema thead tr.button_row td { text-align:center; } */
/* table.Schema thead tr.button_row button { margin:.25em; } */

/* approximate tr row spacing for p */
p.button_row                   { margin: .25em 0; }
/* tr.floater.button_row td       { display;block; } */
tr.button_row td, p.button_row { text-align:center; }
tr.button_row button           { margin: .25em; }

table.Schema tbody tr { cursor:pointer; }
table.Schema tbody td
{
    vertical-align:top;
    border-right:solid 1px #999999;
    border-bottom:solid 1px #999999;
}

form.dialog
{
    position:fixed;
    top:10px;
    left:10px;
    background-color:#FFFFFF;
}

form.Moveable
{
    position:fixed;
    left:10px;
    top:10px;
    background-color:#EEEEEE;
    border:solid 2px #CCCCCC;
}

form.Embedded
{
    background-color:#EEEEEE;
    border:solid 2px #CCCCCC;
    display:table;
    margin:0 auto;
    visibility:visible;
}

fieldset.Schema
{
    margin:1em;
    padding-left:2em;
    /* display:table; */
    /* border-collapse: separate; */
    /* border-spacing: 0 .25em; */
}
fieldset.Schema legend
{
    width:100%;
    height:2em;
    border:solid 1px #AAAAAA;
    line-height:2em;
    text-align:center;
    position:relative;
}


/* fieldset.Schema p.row { display: table-row } */
/* fieldset.Schema p.row > * { display: table-cell; } */
fieldset.Schema label
{
    text-align:right;
    margin-left:-1em;
    padding-right: .5em;
    vertical-align:top;
}

fieldset.Schema label button { margin-right: .25em; }

fieldset.Schema label::after {content : ":"}
fieldset.Schema p.buttons { display:block; text-align:center; margin-bottom:.25em; }
fieldset.Schema input.Embedded { display:none; }

form.Moveable legend       { cursor: pointer; }
form.Moveable legend:hover { background-color:#CCCCCC; }

form.Schema td { vertical-align:top; }

/* ul selection styles */
ul.ulselect { list-style:none; padding:0; min-width:16em; }
ul.ulselect span.item
{
    border-radius: 4px;
    background-color:#CCCCCC;
    padding:0 8px;
    margin:0 4px;
    white-space:no-wrap;
}
ul.ulselect span.item span
{
    font-weight:bold;
    cursor:pointer;
    color: #666666;
}

ul.ulselect span.item span:hover
{
    color:#000000;
}

ul.ulselect li.options_host
{
    position:relative;
    z-index:100;
}

ul.ulselect li.options_host div
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    display:none;
}
ul.ulselect li.options_host ul
{
    position: relative;
    list-style:none;
    padding:0 4px;
    width:100%;
    border: solid 1px black;

    max-height:240px;
    overflow-x : hidden;
    overflow-y : auto;
}

li.options_host ul li   { background-color: #FFFFFF; }
li.options_host ul li:hover   { background-color: #CCCCCC; }
li.options_host ul li.selected   { background-color: #6666FF; }

ul.ulselect { background-color: #FFFFFF; }
ul.ulselect li.cluster { background-color: #FFFFFF; position:relative; }
ul.ulselect li.cluster span { width:100%; min-height:1em; }
ul.ulselect li.cluster input.transfer { display:none; }
ul.ulselect li.cluster input.typing { outline:none; display:none; border:0; width:3em; }

ul.ulselect li.shadow { display:none; }
ul.ulselect li.in { color:#999999; }
ul.ulselect li.out { color:#000000; cursor:pointer; }

table.iltable { list-style:none; padding:0; min-width:16em; }
table.iltable tfoot    { display:node; }
table.iltable tr:hover { background-color:#9999ff; cursor:pointer; }

table.calendar { border-collapse:collapse; border-spacing:0; font-family:sans-serif; }
table.calendar tbody tr { height:2em; }
table.calendar tbody td { padding:0; }

table.calendar td.calnav button { margin:.5em; }

table.calendar td.cn_left { text-align:right; }
table.calendar td.cn_right { text-align:left; }

td.cal_title { font-size: large; font-weight: bold; text-align:center; }
td.cal_day_head { font-size:small; font-weight:bold; text-align:center; }
td.cal_day
{
    border:solid 1px black;
    cursor: pointer;
    width:14%;
    vertical-align:top;
    padding: 0;
    margin: 0;
}

td.cal_day div.day_head
{
    font-size:small;
    text-align:right;
    padding:0 .25em;
    margin:0;
    background-color:#99FF99;
}

div.assoc
{
    margin:0;
    padding:0;
}

div.assoc span
{
    border: solid 1px black;
    padding: 0 .25em;
    margin:0 .25em;
}

div.assoc.active span:hover,
table.assoc.active tr:hover
{
    cursor: pointer;
    background-color:#99FF99;
}

